@import "tailwindcss";

* {
  font-family:'Geist', sans-serif !important;
}

html {
  transition: filter 0.3s ease;
}

html.light {
  filter: invert(1) hue-rotate(180deg);
}

/* re-invert elements que no deben invertirse */
html.light img,
html.light video,
html.light iframe {
  filter: invert(1) hue-rotate(180deg);
}

.swiper-slide {
    height: auto !important;
}