@import "tailwindcss";

* {
  font-family:'Geist', sans-serif !important;
}

html {
  transition: filter 0.35s cubic-bezier(0.9, 0, 0.1, 1);
}

html.light {
  filter: invert(1) hue-rotate(180deg);
}

/* re-invert elements que no deben invertirse */
html.light img,
html.light video,
html.light iframe,
html.light .terminal-card {
  filter: invert(1) hue-rotate(180deg);
}

.terminal-card {
  transition: filter 0.35s cubic-bezier(0.9, 0, 0.1, 1);
}

.swiper-slide {
    height: auto !important;
}